.Skincare{
    display: flex;
    align-items: flex-start;
}

.Skincare .SkincareNav{
    width: 25%;

}

.Skincare .products{
    width: 74%;
}

.Skincare .products .box{
    display: none;
}

.Skincare .products .box.show{
    display: block;
}

