.Product .Box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 500px;
    margin-top: 1rem;
    margin-bottom: 2rem ;
}

.Product .Box .Image, .Product_Text, .Price{
    width: 30%;
    height: 100%;
    /* background-color: #8a8a8a; */
}

.Product .Box .Image img{
    width: 100%;
    height: 100%;
}

.Product .Box .Image{
    position: relative;
}

.Product .Box .Image .new{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 7rem;
    height: 7rem;
    display: none;
}
.Product .Box .Image .new.active{
    display: initial;
}

.Product .Box .Image .new.active img{
    width: 100%;
    height: 100%;
}

.Product .Box .Image .best{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 6rem;
    height: 6rem;
    display: none;
}
.Product .Box .Image .best.active{
    display: initial;
}

.Product .Box .Image .best.active img{
    width: 100%;
    height: 100%;
}

.Product .Box .Product_Text {
}
.Product .Box .Product_Text .Product_Title{
    font-size: 1.7rem;
    border-bottom: 1px solid rgb(188, 188, 188);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.Product .Box .Product_Text .Product_Note{
    font-family: cursive;
    font-size: .9rem;
}

.Product .Box .Price{
    padding-left: 3.5rem;
}

.Product .Box .Price .BoxPrice .Price_Div{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.Product .Box .Price .BoxPrice .Price_Div .Real_Price_deleted{
    text-decoration: line-through 2px;
}

.Product .Box .Price .BoxPrice .Price_Div .Number_of_Percent{
    color: red;
}

.Product .Box .Price .BoxPrice .Price_Div .Price_Discounted{
    color: #006699;
}

.Product .Box .Price .BoxPrice h2{
    font-size: 1.8rem;
    letter-spacing: .1rem;
    border-bottom: 1px solid rgb(188, 188, 188);
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}

.Product .Box .Price .quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.Product .Box .Price .quantity{
    width: 100%;
    border: solid 1px rgb(188, 188, 188);
    padding: 1rem;
    margin-bottom: 1rem;
}

.Product .Box .Price .quantity .ProductMinus, .ProductPlus {
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    border-radius: .5rem;
    transition: .1s;
}

.Product .Box .Price .quantity .Number_Quantity{
    font-size: 1.5rem;
}

.Product .Box .Price .quantity .ProductMinus:hover, .ProductPlus:hover{
    background-color: rgb(101, 101, 101);
    color: white;
    transition: .1s;
}

.Product .Box .Price .Product_Stock{
    font-size: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .3rem;
    color: #8a8a8a;
    font-weight: 200;
    margin-bottom: 1rem;
}

.Product .Box .Price .quantity i {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.Product .Box .Price .BoxBtn .btn{
    width: 100%;
    padding: 1rem;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    transition: .3s;
}

.Product .Box .Price .BoxBtn .btn:hover{
    background-color: rgb(55, 55, 55);
    transition: .3s;
}

.Product .Box .Price .BoxFav .Fav{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    background-color: #e1e1e1;
    transition: .3s;
}

.Product .Box .Price .BoxFav .Fav:hover{
    background-color: black;
    transition: .3s;
    color: white;
}

.Product .DetailAndDelivery {
    width: 100%;
    border: solid 1px rgb(226, 223, 223);
    margin-bottom: 3rem;
}

.Product .DetailAndDelivery .Title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Product .DetailAndDelivery .Title div{
    width: 50%;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
}

.Product .DetailAndDelivery .Title .notshow{
    background-color: rgb(226, 223, 223);
    transition: .5s;
}

.Product .DetailAndDelivery .Title .show{
    transition: .5s;
}


.Product .DetailAndDelivery .DetailOrDelivery{
    padding: 2.5rem;
    height: 300px;
    overflow-y: scroll;
}

/* aaaaaaaaaaaaaaaaaaaaaaa */




.Products .Product.sale {
    box-shadow: 0 0 5px  rgb(227, 227, 227);
    border: solid 1px rgb(193, 193, 193);
    border-radius: 1rem;
    position: relative;
    height: 300px;
    width: 18%;
    padding: 1rem;
    overflow: hidden;
  }



