.Help .Help_Heading{
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    font-family: cursive;
}

.Help .Help_Text{
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(150, 150, 150);
}