.Brushes{
    display: flex;
    align-items: flex-start;
}

.Brushes .BrushesNav{
    width: 25%;

}

.Brushes .products{
    width: 74%;
}

.Brushes .products .box{
    display: none;
}

.Brushes .products .box.show{
    display: block;
}

.Products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 1px solid rgb(216, 214, 214);
    padding-bottom: 2rem;
    
}

.Products .Product {
    box-shadow: 0 0 1px;
    border-radius: .5rem;
    position: relative;
    height: 400px;
    width: 22%;
}


.Products .Product .image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}
.Products .Product .image img{
    width: 100%;
    height: 100%;
    border-radius: .5rem; 
}

