*{
    box-sizing: border-box;
}

.NotEmptyBasket{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NotEmptyBasket .Basket{
    width: 90%;
    text-align: center;
    margin-top: 1rem;
}

.NotEmptyBasket .Basket .Title {
    border-top: solid rgb(226, 223, 223) 2px;
    padding: 1.5rem;
    width: 100%;
    font-size: 1.8rem;
    letter-spacing: .3rem;
    border-bottom: solid rgb(226, 223, 223) 2px;
    font-weight: 700;
}

.NotEmptyBasket .Basket .Sequence{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #B4B4B4 1px;
    padding: 1rem;
}

.NotEmptyBasket .Basket .Sequence div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.NotEmptyBasket .Basket .Sequence .active{
    color: black;
    /* font-weight: 500; */
}

.NotEmptyBasket .Basket .Sequence div h2{
    font-size: 2rem;
    margin-right: 1rem;
    font-weight: 200;
    color: #B4B4B4;
}

.NotEmptyBasket .Basket .Sequence div h3{
    color: #B4B4B4;
    font-weight: 500;
}

.NotEmptyBasket .Basket .Sequence div i{
    color: #B4B4B4;
    font-size: 2rem;
}

.NotEmptyBasket .Basket .BasketBox{
    width: 100%;
}

.NotEmptyBasket .Basket .BasketProducts{
   width: 100%;
   height: 600px;
   overflow-y: scroll;
   padding: .5rem 2rem;
}

.NotEmptyBasket .Basket .BasketBox .BasketProducts .BasketProduct{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0;
    border-bottom: 1px solid  #e1e1e1;
    padding-bottom: 1rem;
    padding-top: .5rem;
    height: 15rem;
}

.NotEmptyBasket .Basket .BasketBox .BasketProducts .BasketProduct .Image {
    width: 15%;
    height: 100%;
    border: solid 1px #e1e1e1;
    cursor: pointer; 
}

.NotEmptyBasket .Basket .BasketBox .BasketProducts .BasketProduct .Image img {
    width: 100%;
    height: 100%;
}

.NotEmptyBasket .Basket .BasketProducts .BasketProduct .Title{
    width: 30%;
}

.NotEmptyBasket .Basket .BasketProducts .BasketProduct .Quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid #B4B4B4 2px;
    padding: .5rem;
    width: 85%;
    position: relative;
}

.NotEmptyBasket .Basket .BasketProducts .BasketProduct .Quantity .qty{
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

}

.NotEmptyBasket .Basket .BasketProducts .BasketProduct .Quantity .minus, .plus {
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    border-radius: .5rem;
    transition: .1s;
}
.NotEmptyBasket .Basket .BasketProducts .BasketProduct .Quantity .minus{
    margin-right: .5rem;
}

.NotEmptyBasket .Basket .BasketProducts .BasketProduct .Quantity .plus{
    margin-left: .5rem;
}

.NotEmptyBasket .Basket .BasketProducts .BasketProduct .Quantity .minus:hover, .plus:hover{
    background-color: rgb(101, 101, 101);
    color: white;
    transition: .1s;
}

.NotEmptyBasket .Basket .BasketProducts .BasketProduct .Quantity i {
    font-size: .7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.NotEmptyBasket .Basket .BasketProducts .BasketProduct .Quantity .ProductQtyText{
    /* width: 100%;
    position: absolute;
    top: 150%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center; */
    display: none;
}

.NotEmptyBasket .Basket .BasketProducts .BasketProduct .Quantity .ProductQtyText.active{
    width: 100%;
    position: absolute;
    top: 150%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.NotEmptyBasket .Basket .BasketProducts .BasketProduct .Quantity .ProductQtyText.active i {
    position: relative;
    left: 0;
    top: 0;
    font-size: 1rem;
}

.NotEmptyBasket .Basket .BasketProducts .BasketProduct .Quantity .ProductQtyText.active .Insufficient{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: .7rem;
    gap: .1rem;
    width: 120%;
    position: relative;
}

.NotEmptyBasket .Basket .BasketProducts .BasketProduct .PriceQty{
    padding: 2rem;
    position: relative;
}

.NotEmptyBasket .Basket .BasketProducts .BasketProduct .h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}


.Basket .TotalAndButtons {
    width: 100%;
    padding: 2rem 0;
    border-top: solid 1px #e1e1e1;
}

.Basket .TotalAndButtons .Total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.Basket .TotalAndButtons .Total h2{
    font-weight: 700;
}

.Basket .ClearBasket{
    padding: .5rem;
    text-align: left;
    display: flex;
}


.Basket .ClearBasket i {
    margin-right: 1rem;
}

.Basket .ClearBasket .clearText{
    cursor: pointer;
    font-weight: 100;
    transition: .2s;
}

.Basket .ClearBasket .clearText:hover{
    color: red;
    transition: .2s;
}


.Basket .TotalAndButtons .buttons{
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
}

.Basket .TotalAndButtons .buttons .Continue {
    font-size: 1.2rem;
    margin: .5rem 0;
    padding: 1rem 3rem;
    background-color: #e1e1e1;
    color: black;
    font-weight: 400;
    transition: .3s;
    cursor: pointer;
    width: 300px;
}

.Basket .TotalAndButtons .buttons .Continue:hover{
    background-color: black;
    transition: .3s;
    color: white;
}

.Basket .TotalAndButtons .buttons .btn{
    font-size: 1.2rem;
    margin: .5rem 0;
    padding: 1rem 3rem;
    background-color: black;
    color: white;
    font-weight: 400;
    transition: .3s;
    cursor: pointer;
    width: 300px;
}

.Basket .TotalAndButtons .btn:hover{
    background-color: rgb(55, 55, 55);
    transition: .3s;
}


/* /////////////////////////////// empty basket ////////////////////////// */



.BasketEmpty{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BasketEmpty .Basket{
    width: 90%;
    text-align: center;
    margin-top: 1rem;
}

.BasketEmpty .Basket .Title {
    border-top: solid rgb(226, 223, 223) 2px;
    padding: 1.5rem;
    width: 100%;
    font-size: 2rem;
    border-bottom: solid rgb(226, 223, 223) 2px;
    font-weight: 600;
}
.BasketEmpty .Basket .QtyBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}
.BasketEmpty .Basket .QtyBox .Quantity{
    border: solid gray 2px;
    border-radius: 50%;
    padding: .6rem 1.2rem;
    font-size: 1.8rem;
    font-weight: bold;
}

.BasketEmpty .Basket .Text {
    padding: 1rem;
    color: gray;
    font-weight: 400;
}

.BasketEmpty .Basket .BtnBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BasketEmpty .Basket .BtnBox .Btn {
    font-size: 1.2rem;
    margin: .5rem 0;
    padding: 1rem 3rem;
    background-color: black;
    color: white;
    font-weight: 400;
    cursor: pointer;
    transition: .3s;
}

.BasketEmpty .Basket .BtnBox .Btn:hover{
    background-color: rgb(55, 55, 55);
    transition: .3s;
}





/* //////////////////////////////////////////// checkout //////////////// */

.Checkout_data .DataBox {
    width: 50%;
}


.Checkout_data .DataBox .Checkout_data_text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid rgb(226, 223, 223);
    margin: 1rem 0;

}


.Checkout_data .DataBox .Data {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.Checkout_data .DataBox .Data .InputBox{
    position: relative;
    width: 48%;
    margin-bottom: 1rem;
}

.Checkout_data .DataBox .Data .CommentBox{
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.Checkout_data .DataBox .Data .CommentBox textarea {
    width: 100%;
    padding: 1rem;
    border: 2px solid #a0a0a0;
    color: black;
    border-radius: 5px;
    transition: .3s;
    font-size: 1.2rem;
    min-height: 150px;
    resize: none;
}

.Checkout_data .DataBox .Data .CommentBox span{
    position: absolute;
    left: 0;
    padding: 1rem;
    pointer-events: none;
    transition: .3s;
    color: #a0a0a0;
    font-size: 1.2rem;
    z-index: 50;
}

.Checkout_data .DataBox .Data .CommentBox textarea:valid ~ span,
.Checkout_data .DataBox .Data .CommentBox textarea:focus ~ span{
    color: black;
    transform: translateX(10px) translateY(-50%);
    padding: 0 10px;
    font-size: .8rem;
    background-color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.Checkout_data .DataBox .Data .InputBox input{
    width: 100%;
    padding: 1rem;
    border: 2px solid #a0a0a0;
    color: black;
    border-radius: 5px;
    transition: .3s;
    font-size: 1.2rem;
}

.Checkout_data .DataBox .Data .InputBox span{
    position: absolute;
    left: 0;
    padding: 1rem;
    pointer-events: none;
    transition: .3s;
    color: #a0a0a0;
    font-size: 1rem;
}

.Checkout_data .DataBox .Data .InputBox input:valid ~ span,
.Checkout_data .DataBox .Data .InputBox input:focus ~ span{
    color: black;
    transform: translateX(10px) translateY(-50%);
    padding: 0 10px;
    font-size: .8rem;
    background-color: white;
}

.Checkout_data .DataBox .Data .InputBox input:valid,
.Checkout_data .DataBox .Data .InputBox input:focus{
    border: 2px solid black;
}

.Checkout_data .DataBox .Payment_method .PaymentTitleBox{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: .7rem;
    padding-bottom: 1rem;
    border-bottom: dotted 1.5px #dddddd;
}


.Checkout_data .DataBox .Payment_method .PaymentBox{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.Checkout_data .DataBox .Payment_method .PaymentBox .Payment_image{
    width: 14%;
    height: 5rem;
    background-color: #dddddd;
    padding: 1rem;
}

.Checkout_data .DataBox .Payment_method .PaymentBox .Payment_image h3{
    font-size: 1rem;
    font-weight: 600;
}

.Checkout_data .DataBox .Payment_method .PaymentBox .Payment_image img{
    width: 100%;
    height: 100%;
}

/* ///////////////////  Order_summary ///////////////////////*/

.Checkout_data .Order_summary{
    width: 100%;
    border-top: 1.5px solid rgb(226, 223, 223);
    margin: 2rem 0;
    padding: 1rem;
    text-align: left;
}

/* .Checkout_data .Order_summary .Order_summary_title{
    border-bottom: dotted rgb(226, 223, 223) 1px ;
} */

.Checkout_data .Order_summary .Order_summary_products .Order_summary_product {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: dotted 1px rgb(226, 223, 223);
    margin-bottom: 1rem;
}

.Checkout_data .Order_summary .Order_summary_products .Order_summary_product .ImageAndTitle {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 2rem;
}

.Checkout_data .Order_summary .Order_summary_products .Order_summary_product .ImageAndTitle .image{
    width: 6rem;
    height: 8rem;
}

.Checkout_data .Order_summary .Order_summary_products .Order_summary_product .ImageAndTitle .image img{
    width: 100%;
    height: 100%;
}

/* ///////////////////  Checkout_data_buttons ///////////////////////*/

.Checkout_data .buttons{
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
}

.Checkout_data .buttons .back {
    font-size: 1.2rem;
    margin: .5rem 0;
    padding: 1rem 3rem;
    background-color: #e1e1e1;
    color: black;
    font-weight: 400;
    transition: .3s;
    cursor: pointer;
    width: 300px;
}

.Checkout_data .buttons .back:hover{
    background-color: black;
    transition: .3s;
    color: white;
}

.Checkout_data .buttons .btn{
    font-size: 1.2rem;
    margin: .5rem 0;
    padding: 1rem 3rem;
    background-color: black;
    color: white;
    font-weight: 400;
    transition: .3s;
    cursor: pointer;
    width: 300px;
}

.Checkout_data .buttons .btn:hover{
    background-color: rgb(55, 55, 55);
    transition: .3s;
}
