.New{
    display: flex;
    align-items: flex-start;
}

.New .NewNav{
    width: 25%;

}

.New .products{
    width: 74%;
}

.New .products .box{
    display: none;
}

.New .products .box.show{
    display: block;
}

.New .products .Products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 1px solid rgb(216, 214, 214);
    padding-bottom: 2rem;
    
}

.New .products .Products .Product {
    box-shadow: 0 0 5px  rgb(227, 227, 227);
    border: solid 1px rgb(193, 193, 193);
    border-radius: 1rem;
    position: relative;
    height: 400px;
    width: 22%;
    /* border-color: rgb(145, 145, 145); */
    padding: 1rem;
    overflow: hidden;
}

.New .products .Products .Product.active{
    box-shadow: 0 0 5px  #006699;
    border: solid 1px #006699;
}

.New .products .Products .Product .image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    cursor: pointer;
    padding: 1rem;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
}

.New .products .Products .Product .image .ImageBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    opacity: 0;
}

.New .products .Products .Product .image .ImageBackground.active {
    opacity: .5;
}

.New .products .Products .Product .image .ImageBackground.active:hover {
    opacity: .3;
}


.New .products .Products .Product .image .img{
    border-radius: 1rem; 
    position: absolute;
    width: 100%;
    transition: .5s;
    height: 100%;
}

.New .products .Products .Product .image .img.active{
    transform: scale(1.3);
    transition: .5s;
}

.New .products .Products .Product .image .new{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 5rem;
    height: 5rem;
    display: none;
}
.New .products .Products .Product .image .new.active{
    display: initial;
}

.New .products .Products .Product .image .new.active img{
    width: 100%;
    height: 100%;
}



.New .products .Products .Product .title{
    text-align: center;
    font-size: 1rem;
    width: 100%;
    color: grey;
}

.New .products .Products .Product .brandName{
    width: 100%;
    text-align: center;
    color: #006699;
    font-weight: 200;
}

.New .products .Products .Product .price {
    font-size: 1.3rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
}

.New .products .Products .Product .Price_discount .PriceAndPercent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.New .products .Products .Product .Price_discount .PriceAndPercent .Price_deleted {
    text-decoration:line-through 2px;
}

.New .products .Products .Product .Price_discount .PriceAndPercent .Percent_Discount {
    color: red;
    font-family: cursive;
}

.New .products .Products .Product .Price_discount .Price_Discounted {
    color: #006699;
    font-size: 1.3rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
}

.New .products .Products .Product .btn_text {
    position: absolute;
    bottom: -4rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3rem;
    transition: .4s;
    font-size: .9rem;
    padding: .5rem 2rem;
    background-color: black;
    color: white;
    font-weight: 400;
    cursor: pointer;
    height: 3.8rem;
    z-index: 2;
}

.New .products .Products .Product .shopping {
    position: absolute;
    right: -100rem;
    bottom: 1rem;
    font-size: 1.3rem;
    transition: .7s;
}

.New .products .Products .Product .heart {
    position: absolute;
    left: -100rem;
    top: 1rem;
    font-size: 1.5rem;
    transition: .6s;
    z-index: 2;

}

.New .products .Products .Product .btn_text.active {
    bottom: 8rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3rem;
    transition: .4s;
    font-size: .9rem;
}

.New .products .Products .Product .btn_text.active:hover{
    background-color: rgb(55, 55, 55);
    transition: .3s;
}

.New .products .Products .Product .shopping.active {
    right:2rem;
    font-size: 1.3rem;
    transition: .7s;
}

.New .products .Products .Product .heart.active {
    left: 2rem;
    font-size: 1.5rem;
    transition: .6s;
    cursor: pointer;
}