

/* .Best_Sellers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 1px solid rgb(216, 214, 214);
    padding-bottom: 2rem;
    
} */

.Best_Sellers .Product {
    /* box-shadow: 0 0 5px  rgb(227, 227, 227); */
    /* border: solid 1px rgb(193, 193, 193); */
    /* border-radius: 1rem; */
    position: relative;
    height: 300px;
    width: 100%;
    /* border-color: rgb(145, 145, 145); */
    padding: 1rem;
    overflow: hidden;
    /* background-color: rgb(239, 236, 236); */
}

.Best_Sellers .Product .image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    cursor: pointer;
    padding: 1rem;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 1px;
}

.Best_Sellers .Product .image .ImageBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    opacity: 0;
}

.Best_Sellers .Product .image .ImageBackground.active {
    opacity: .5;
}

.Best_Sellers .Product .image .ImageBackground.active:hover {
    opacity: .3;
}


.Best_Sellers .Product .image .img{
    border-radius: 1rem; 
    position: absolute;
    width: 100%;
    transition: .5s;
    height: 100%;
}

.Best_Sellers .Product .image .img.active{
    transform: scale(1.3);
    transition: .5s;
}
.Best_Sellers .Product .image .new{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 5rem;
    height: 5rem;
    display: none;
}
.Best_Sellers .Product .image .new.active{
    display: initial;
}

.Best_Sellers .Product .image .new.active img{
    width: 100%;
    height: 100%;
}

.Best_Sellers .Product .image .best{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 4rem;
    height: 4rem;
    display: none;
}
.Best_Sellers .Product .image .best.active{
    display: initial;
}

.Best_Sellers .Product .image .best.active img{
    width: 100%;
    height: 100%;
}



.Best_Sellers .Product .title{
    text-align: center;
    font-size: 1rem;
    width: 100%;
    color: grey;
}

.Best_Sellers .Product .brandName{
    width: 100%;
    text-align: center;
    color: #006699;
    font-weight: 200;
}

.Best_Sellers .Product .price {
    font-size: 1.3rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
}

.Best_Sellers .Product .btn_text {
    position: absolute;
    bottom: -4rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3rem;
    transition: .4s;
    font-size: .9rem;
    padding: .5rem 2rem;
    background-color: black;
    color: white;
    font-weight: 400;
    cursor: pointer;
    height: 3rem;
    z-index: 2;
    border-radius: .3rem;
}

.Best_Sellers .Product .shopping {
    position: absolute;
    right: -100rem;
    bottom: 1rem;
    font-size: 1.3rem;
    transition: .7s;
    cursor: pointer;
}

.Best_Sellers .Product .heart {
    position: absolute;
    left: -100rem;
    top: 1rem;
    font-size: 1.5rem;
    transition: .6s;
    z-index: 2;

}

.Best_Sellers .Product .btn_text.active {
    bottom: 8rem;
    left: 50%;
    transform: translateX(-50%);
    transition: .4s;
    font-size: 1rem;
}

.Best_Sellers .Product .btn_text.active:hover{
    background-color: rgb(55, 55, 55);
    transition: .3s;
}

.Best_Sellers .Product .shopping.active {
    right:2rem;
    font-size: 1.3rem;
    transition: .7s;
    cursor: pointer;
}

.Best_Sellers .Product .heart.active {
    left: 2rem;
    font-size: 1.5rem;
    transition: .6s;
    cursor: pointer;
}